/* Breakpoints for responsive design */
$minimobile-bp: 320px;
$smallmobile-bp: 576px;
$mobile-bp: 768px;
$tablet-bp: 1024px;
$desktop-bp: 1280px;
$desktoper-bp: 1920px;
$desktopest-bp: 2560px;
$desktopissimo-bp: 3840px;