@use '../../styles/palette.scss' as *;
:root, :root[data-theme='light'] {
    --scale-bg: #{rgba($white-1, 0.2)};
    --scale-prog: #{$primary-accent-4};
}
:root[data-theme='dark'] {
    --scale-bg: #{rgba($grey-2, 0.2)};
    --scale-prog: #{$primary-accent-4};
}
.scaleContainer {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    position: absolute;
    z-index: 1000;
    right: 1rem;
    top: 40%;
    transform: translateY(-50%);
    .buttonFrame {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 1.5rem;
        height: 1.5rem;
        border: 1.5px solid $white-1;
        border-radius: 4px;
        backdrop-filter: blur(1px) brightness(100%);
        background-color: rgba($white-2, .35);
        box-shadow:
            0 0 2px 1px rgba($black-0, 0.4),
            inset 0 0 2px rgba($black-0, 0.2);
        &:has(.in) {
            margin-bottom: 6px;
        }
        &:has(.out) {
            margin-top: 6px;
        }
        &.pipFrame {
            margin-top: 10px;
        }
    }
    .zoomButton {
        line-height: 0;
        height: calc(1rem + 1px);
        width: calc(1rem + 1px);
        border-radius: 1px;
        background-color: $grey-1;
        box-shadow: 0 0 2px 1px rgba($black-0, 0.4);
        cursor: pointer;
        transition: all 0.2s ease;
        font-family: 'Novecento Medium', sans-serif;
        font-size: 18px;
        color: $white-1;
        &:not(:disabled):hover {
            background-color: $primary-accent-4;
            color: $grey-1;
        }
        &:active {
            background-color: rgba($grey-1, 0.2);
        }
        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
        &.pipButton {
            font-size: 0.45rem;
            line-height: 1;
            letter-spacing: -0.03em;
        }
        &.active {
            background-color: $primary-accent-4;
            color: $grey-1;
        }
    }
    .scalerWrapper {
        --scale: 0;
        position: relative;
        height: 9rem;
        width: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 4px;
        border: 2px solid;
        border-color: $grey-1;
        box-shadow:
            0 0 2.5px 1px rgba($white-0, 0.6),
            inset 0 0 2px rgba($white-0, 0.3);
        padding: 2px;
        backdrop-filter: blur(10px);
        background-color: var(--scale-bg);
        overflow: hidden;
        cursor: pointer;
        > .scaler {
            height: 8.5rem;
            position: absolute;
            bottom: 0;
            left: 0;
            width: calc(100% - 4px);
            margin: 2px;
            background-color: var(--scale-prog);
            border-radius: 2px;
            transform: scaleY(var(--scale));
            transform-origin: bottom;
            transition:
                transform 0.4s ease,
                box-shadow 0.1s ease;
            box-shadow:
                0 0 3px 0.5px rgba($black-0, 0.4),
                0 calc(1.5px * max(1, min(10, 1 / max(0.1, var(--scale))))) 4px
                    0.5px rgba($black-0, 0.2),
                0 calc(-1.5px * max(1, min(10, 1 / max(0.1, var(--scale))))) 4px
                    0.5px rgba($black-0, 0.2); // make shadow grow with scale
        }
    }
}

// Mobile-specific styles
.scaleContainerMobile {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
    border-radius: 6px 0 0 6px;
    .scaleDecoTop,
    .scaleDecoBottom {
        position: absolute;
        right: 0;
        width: 1.5rem;
        height: 1.5rem;
        backdrop-filter: blur(10px);
        background-color: var(--scale-bg);
    }
    .scaleDecoTop {
        top: 1px;
        transform: translateY(-100%);
        clip-path: path("M0 24h24V0c0 6.2388-10.4322 23.871-24 24Z");
    }
    .scaleDecoBottom {
        bottom: 0;
        transform: translateY(100%);
        clip-path: path("M0 0h24v24C24 17.7612 13.5678.129 0 0Z");
    }
}

.scalerWrapperMobile {
    --scale: 0;
    --drag-distance: 0;

    position: relative;
    height: 10rem;
    width: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 6px 0 0 6px;
    box-shadow: inset 0 0 2px rgba($white-0, 0.3), 0 0 3px 1px rgba($black-0, 0.3);
    padding: 4px;
    backdrop-filter: blur(4px);
    background-color: var(--scale-bg);
    cursor: grab;
    touch-action: none;
    
    &:active {
        cursor: grabbing;
    }
}

.scalerMobile {
    height: calc(10rem - 8px);
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 8px);
    margin: 4px;
    background-color: var(--scale-prog);
    border-radius: 3px;
    transform: scaleY(min(var(--scale), 1));
    transform-origin: bottom;
    transition:
        transform 0.2s ease,
        box-shadow 0.1s ease;
    box-shadow:
        0 0 3px 0.5px rgba($black-0, 0.4),
        0 calc(1.5px * max(1, min(10, 1 / max(0.1, var(--scale))))) 4px
            0.5px rgba($black-0, 0.2),
        0 calc(-1.5px * max(1, min(10, 1 / max(0.1, var(--scale))))) 4px
            0.5px rgba($black-0, 0.2);
}

.scaleContainerMobile.dragging .scalerMobile {
    transition: box-shadow 0.1s ease;
}
